.kalam-light {
    font-family: "Kalam", cursive;
    font-weight: 300;
    font-style: normal;
  }
  
  .kalam-regular {
    font-family: "Kalam", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
  .kalam-bold {
    font-family: "Kalam", cursive;
    font-weight: 700;
    font-style: normal;
  }
  

body {
    background-image: url("/resources/images/crowdDark.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    height: 100vh;
    width: 100vw;
    overflow-x: initial;
    margin: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 0;
}

body::-webkit-scrollbar:hover {
    width: 0.5em;
}

    
#navigationList {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 3%;
}

#navigationMenu {
    background-color: rgba(211, 211, 211, 0.3);
    padding: 2px 0 2px 0;
    width: 100vw;
}

#homeLink:hover, #merchandiseLink:hover, #podcastsLink:hover, #contactLink:hover, #createAccountLink:hover, #loginLink:hover {
    text-decoration: underline;
    cursor: pointer;
}

#logoDiv {
    margin-top: 5px;
    text-align: center;
}

#greyLogoDiv {
    margin: auto;
    background-color: rgba(211, 211, 211, 0.3);
    width:fit-content;
    padding: 0 30px 0 30px;
    border-radius: 100px;
}

#subscribeDiv {
    position: absolute;
    text-align: center;
    right: 5%;
    top: 10%;
    transform: rotate(30deg);
}

#subscribeHeader, #subscribeText {
    font-family: "Kalam";
}

#footer {
    background-color: rgba(211, 211, 211, 0.3);
    padding: 1px 0 1px 0;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position:static;
    bottom: 0;
}

#copyrightDiv {
    display: flex;
    flex-direction: row;
}

#facebookIcon, #linkedIcon, #instagramIcon, #twitterIcon {
    padding: 1px 10px 1px 5px;
    cursor: pointer;
}

#twitterIcon {
    margin-right: 10px;
}